*.pyc
/backend/.env
/backend/log/
.idea/
/node_modules/
/backend/com_server/log
/backend/medie/
__pycache__/
*.env
/backend/unpackage/
env/
.hbuilderx
*.pem
/backend/static
/backend/apps/utils/auth_code/payload_project.json
/backend/apps/utils/auth_code/payload_system.json
/mqtt_broker/emqx/persist/data/
/mqtt_broker/emqx/persist/log/
/mqtt_broker/emqx/emqx.conf
/mqtt_broker/emqx/acl.conf
influxdb/
/backend/apps/utils/auth_code/dist
*.spec
/backend/apps/utils/auth_code/build
